{% extends 'quizmonkey/base.html' %}
{% load static %}

{% block content %}

    <header id="home" class="home" style="padding-top: 0em; padding-bottom: 10em;"></header>
    <div class="container" style="padding-bottom: 3em">
     <div class="ui center aligned basic very padded segment">
         <h1 class="ui header" style="font-family: Futura"><strong>Create a new question</strong></h1>
    <div class="ui container left aligned">
        <form class="ui form {% if form.errors %}error{% endif %}" method="post" novalidate>
            {% csrf_token %}
            {% for field in form %}
            <div class="field {% if field.errors %}error{% endif %}" style="font-family: Futura">
                <label>{{ field.label_tag }}</label>
                {{ field }}
            </div>
            {% endfor %}<br>
            <button type="submit" class="btn btn-success" style="font-family: Futura">Create question</button>
            <a href="{% url 'quiz-edit' quiz.pk %}">
                <div class="btn btn-warning" style="font-family: Futura">Cancel</div>
            </a>
            <div class="ui message error">
            {% if form.errors %}
                <div class="header" style="font-family: Futura">We had some issues</div>
                <ul class="list">
                    {% for field in form %}
                    {% for error in field.errors %}
                    <li>{{ field.label_tag }} {{ error }}</li>
                    {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            </div>
        </form>
    </div>
</div>
    </div>
{% endblock %}